

<html>
<head>
<title>FreeMarker: List Iterator Test</title>
</head>
<body>
#var list = ["one", "two", "three", "four", "five"]
#var hash = {"key" : list}
#var hash2 = {"value" : hash}

<p>A simple test follows:</p>

<p>${message}</p>

<p>Now iterate over a list:</p>

   #list list as item
      <p>${item}</p><#lt>
   /#

<p>Now iterate again:</p>

  #list list as item
<p>${item_index}. ${item}</p>
  /#list

<p>Iterate over a list in a hash:</p>

[#list hash.key as item]
<p>${item}</p>
[/#list]

[#list hash.key as item]
<p>${item}</p>
[/#list]

[#list hash["key"] as item]
<p>${item}</p>
[/#list]

#list hash["key"] as item
<p>${item}</p>
/#

<p>Now test the list and foreach keywords...</p>

[#list hash2["value"].key as key]
<p>${key}</p>
[/#list]

[#list hash2.value.key as az]
<p>${az}</p>
[/#list]

</body>
</html>
