

<html>
<head>
<title>FreeMarker: Operator Precedence Test</title>
</head>
<body>
<#var patate1 = "test">
<#var patate2 = "test">
<#var patate3 = "test">

<#if patate1 == patate2 && patate2 == patate3>
@foo @$baz @## @ @ @ @ @ @ @ @
</#if>

<br />
<br />

<#if patate1?exists && patate2 == patate3>
##########
</#if>

<br />
<br />

<#if patate2 == patate2 && (patate2==patate2)>
&&&&&&&&&&&
</#if>

<br />
<br />

<#if (patate2 == patate2) && (patate2==patate2)>
!!!!!!!!!!!
</#if>

<br />
<br />

<#if (patate2 == patate2) && patate2==patate2>
$$$$$$$$$$$
</#if>

</body>
</html>
