

<html>
<head>
<title>FreeMarker: List Literal Test</title>
</head>
<body>

<p>A simple test follows:</p>

<p>${message}</p>

<p>Now perform a list assignment:</p>

[#var hash = {"temp" : "Temporary"}]
[#var mymessage = "hello"]
[#var test = ["test1", "test23", "test45", message, mymessage]]

The list contains ${test?size} items.

#list test as item
<p>${item}</p>
/#list

<p>Now update the assignment and repeat:</p>

#set mymessage = "world"

[#list test as item]
<p>${item}</p>
[/#]

<p>Now reassign the list and repeat:</p>

#set test = [hash.temp, "test1", "test23", "test45", mymessage, "hash", hash["temp"]]
#set test = ["foo", "bar"]+test

#list test[1..4] as item
<p>${item}</p>
/#

<p>Silly, but necessary tests, for one and zero element lists:</p>

#set test = ["Hello, world"]

#list test as item
<p>${item}</p>
/#

<p>Zero item test:</p>

#set test = []

#list test as item
<p>${item}</p>
/#

<p>Dumb test for number literals -- these weren't working as expected:</p>

#set test = []+[1, 2, 3, 5, 7]

#list test as item
<p>${item}</p>
[#if item = 5][#break][/#if]
/#

</body>
</html>
