<#list array as item>
${item}
</#list>
${array?size}
${array[0]}
${array[1]}
<#list list as item>
${item}
</#list>
#var list = ["list-0", "list-1"]
#assert list?instanceof("java.util.ArrayList")
#assert 1?instanceof("java.math.BigDecimal")
#assert 1?int?instanceof("java.lang.Integer")
${list?size}
#exec list::add("list-2")
#set list[0] = "list-0 modified"
${list::size()}
<#if !list>empty<#else>not empty</#if>
${list[0]}
${list[2]}
${map.key}
${map[objKey]}
${obj.foo}
<#if obj.foo??>hasfoo<#else>nofoo</#if>
${obj.baz?? ?: "hasbaz" : "nobaz"}
${obj::getBar(0)}
${obj::getBar(0)}
${obj::getFoo()}
${obj::overloaded(1?int)}
${obj::overloaded("String")}
${obj::varArgs(1?int,2?int,3?int)}
${obj::varArgs(1?int,2?int)}
${obj::varArgs(1)}#-- There is really no need for the cast, eh?
${obj::varArgs()}
${obj::moreSpecific("someString")}
${resourceBundle.message}
${resourceBundle("format", date)}


${obj.something}

#set (obj.foo) = "Yeah, mon!"

${obj.foo}

${obj.hello("Brave New World")}

${obj.byeBye("one", "two", "three")}<#t>

${obj.oneMore("one", "two", "three")}

[#var func = obj::tryThis()]

${func("KILROY")}