[#ftl strict_vars="true"]


<html>
<head>
<title>FreeMarker: Numeric Operations Test</title>
</head>
<body>

<p>A simple test follows:</p>

<p>${message}</p>

#var a1 = 0
<p>Start with the increment operator:</p>
<p>a1 = ${a1}</p>
   #set a1 = a1 + 1
<p>a1 = ${a1}</p>
   #set a1 = a1 + 1
<p>a1 = ${a1}</p>

<p>Now the decrement operator:</p>
#var a2 = 5
<p>a2 = ${a2}</p>
#set a2 = a2 - 1
<p>a2 = ${a2}</p>
   #set a2 = a2 - 1
<p>a2 = ${a2}</p>
   #set a2 = a2 - 1
<p>a2 = ${a2}</p>
   #set a2 = a2 - 1
<p>a2 = ${a2}</p>
   #set a2 = a2 - 1
<p>a2 = ${a2}</p>
   #set a2 = a2 - 1
<p>a2 = ${a2}</p>
   #set a2 = a2 - 1

<p>Now the add operator:</p>
#var op1 = 5
#var op2 = 3
#var op3 = op1 + op2
<p>op1 = ${op1}, op2 = ${op2}, op3 = ${op3}</p>
#set op3 = op3 + op2
<p>op3 = ${op3}</p>

<p>And the subtract operator:</p>
#set op3 = op1 - op2 
<p>op1 = ${op1}, op2 = ${op2}, op3 = ${op3}</p>
#set op3 = op3 - op2 
<p>op3 = ${op3}</p>

<p>The comparison operators:</p>
#var list1 = [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 ]
#foreach item in list1

${  
   item = 7 
   ?: "7 is a lucky number!" 
   : "Item number " + item_index
}
   <p>Item is: ${item}</p>
   #if item lt 5
   <p>Item is less than five.</p>
   /#if
   #if item <= 7
   <p>Item is less than or equals to seven.</p>
   </#if>
   #if item gt 2
   <p>Item is greater than two.</p>
   /#if
   #if item >= 10
   <p>Item is greater than or equal to ten.</p>
   /#if
/#foreach
</body>
</html>
