<#setting locale="en_US">
<#setting time_zone="GMT">
<#setting datetime_format="">
${unknownDate?date}
${date?date?string[""]}
${date?date?string["short"]}
${date?date?string["medium"]}
${date?date?string["long"]}
${unknownDate?time}
${date?time?string[""]}
${date?time?string["short"]}
${date?time?string["medium"]}
${date?time?string["long"]}
<#setting locale="hu_hu">
<#setting datetime_format="long_long">
${date}
<#setting locale="en_US">
<#setting datetime_format="EEE, dd MMM yyyyy HH:mm:ss z">
${date}
${unknownDate?string["EEE, dd MMM yyyyy HH:mm:ss z"]}