<#ftl strict_vars="false">
<#assign htmlEscape = "freemarker.template.utility.HtmlEscape"?new(),
         utility = "freemarker.testcase.models.TransformHashWrapper"?new()>
<html>
<head>
<title>FreeMarker: Transformation Test</title>
</head>
<body>

<p>A simple test follows:</p>

<p>${message}</p>

<@htmlEscape>
<p>${message}</p>
</@htmlEscape>

<P>Now try the Utility package:</p>
<p>${utility}</p>

<@utility.htmlEscape>
<p>${utility}</p>
</@>

<p>Now some nested transforms:</p>
<@utility.compress>
<p    >This tests the compress transformation</p >
</@>
<@utility.compress>
<@html_escape>
<p    >This tests the compress transformation</p >
</@html_escape>
</@utility.compress>
<#assign html_transform = "freemarker.template.utility.HtmlEscape"?new() />
<@html_transform><#--Using the transform via an instantiation -->
<@compress>
<p    >This tests the compress transformation</p >
</@>
</@>

<p>Now try method and transform interactions:</p>
<@utility.escape("xml")>
<p>This isn't a valid XML string.</p>
</@>
<@utility.escape( "html" )>
<p>This isn't a valid HTML string.</p>
</@>

<p>A more advanced interaction involves getting a WrappedMethod
to initialise a TemplateTransformModel, as follow:</p>

<@utility.special( "This is a comment" )>
Comment: *

A test string containing quotes: "This isn't a test".
A test string containing amps: Fish & Chips.
A test string containing tags: <p>Fish &amp; Chips.</p>
</@>

<@utility.special( "This is a second comment", "quote" )>
Comment: *

A test string containing quotes: "This isn't a test".
A test string containing amps: Fish & Chips.
A test string containing tags: <p>Fish &amp; Chips.</p>
</@>
<@utility.special( "This is a third comment", "ampersand", "quote" )>
Comment: *

A test string containing quotes: "This isn't a test".
A test string containing amps: Fish & Chips.
A test string containing tags: <p>Fish &amp; Chips.</p>
</@>
<@utility.special( "tag", utility )>
Comment: *

A test string containing quotes: "This isn't a test".
A test string containing amps: Fish & Chips.
A test string containing tags: <p>Fish &amp; Chips.</p>
</@>

<#var captured_output>
<#set captured_output>
<@compress>
<#assign x=2, y=3, z = "python", adjective="cool">
</@compress>
</#set>

${message}

${captured_output}

</body>
</html>
