<#list array as item>
${item}
</#list>
${array?size}
${array[0]}
${array[1]}
<#list list as item>
${item}
</#list>
[#--var list = list?pojo--]
#var list = ["list-0", "list-1"] 
#exec list::add("list-2")
${list::size()}
<#if !list>empty<#else>not empty</#if>
${list[0]}
${map.key}
${map[objKey]}
${obj.foo}
<#if obj.foo?exists>hasfoo<#else>nofoo</#if>
${obj.baz?exists ?: "hasbaz" : "nobaz"}
${obj::getBar(0)}
${obj.getBar(0)}
${obj.getFoo()}
${obj.overloaded(1?int)}
${obj.overloaded("String")}
${obj.varArgs(1?int,2?int,3?int)}
${obj.varArgs(1?int,2?int)}
${obj.varArgs(1?int)}
${obj.varArgs()}
${obj.moreSpecific("someString")}
${resourceBundle.message}
${resourceBundle("format", date)}


${obj.something}