<#list array as item>
${item}
</#list>
${array?size}
${array[0]}
${array[1]}
<#list list as item>
${item}
</#list>
#var list = list?pojo
${list.size()}
<#if list.isEmpty()>empty<#else>not empty</#if>
${list[0]}
${map.key}
${map[objKey]}
${obj.foo}
<#if obj.foo?exists>hasfoo<#else>nofoo</#if>
<#if obj.baz?exists>hasbaz<#else>nobaz</#if>
${obj.bar(0)}
${obj.bar[0]}
${obj.getFoo()}
${obj.overloaded(1?int)}
${obj.overloaded("String")}
${obj.varArgs(1?int,2?int,3?int)}
${obj.varArgs(1?int,2?int)}
${obj.varArgs(1?int)}
${obj.varArgs()}
${obj.moreSpecific("someString")}
${resourceBundle.message}
${resourceBundle("format", date)}


${obj.something}