[#var foo mymessage one cc hash test]


<html>
<head>
<title>FreeMarker: Hash Literal Test</title>
</head>
<body>

<p>A simple test follows:</p>

<p>${message}</p>

<p>Now perform a hash assignment:</p>

  #set mymessage = "hello", foo = "bar", one = "1"
  #set test = {"test1" : "test23", "test45" : message, mymessage : "hello all", foo : one}
  #set test1 = "NOT test23!" in test
  #set (test["bar"]) = "foobar" #-- Some superfluous parentheses
test["bar"] is ${test.bar}
#exec test::put("test45", "NOT " + test.test45)

${test.test1}
${test.test45}
${test.hello}
${test.bar}

<p>Now update the assignment and repeat:</p>

[#set mymessage = "world"]

${test.test1}
${test.test45}
${test.hello}

${test.bar}

<p>Now reassign the list and repeat:</p>

[#set hash = {"temp" : "Temporary"}]
[#set test = {"test1" : "test23", "test45" : message, mymessage : "hello all", foo : one, "hash" : hash["temp"], "true" : hash.temp, "newhash" : hash}]

${test.test1}
${test.test45}
${test.hello!}

${test.bar}
${test.hash}
${test.true}
${test.newhash.temp}

<p>Pathological case: zero item hash:</p>

[#set test = {}]
${test.test1!}

<p>Hash of number literals:</p>
[#set test = {"1" : 2}]
${test["1"]}

<p>Hash concatenation:</p>
[#set cc = {"a" : 1, "b" : 2}+{"b" : 3, "c" : 4}]
[#list cc?keys?sort as key]
${key} => ${cc[key]}
[/#list]

<p>Empty hash concatenation:</p>
${({}+{"a" : "foo"}).a}, ${({"a" : "bar"}+{}).a}

</body>
</html>
